<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="tanks.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="tanks.Properties.Settings.ScoreDBConnectionString"
            connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\ScoreDB.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <tanks.Properties.Settings>
            <setting name="amountSimpleTanks" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="speedGame" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="amountWalls" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="amountHunterTanks" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="mode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="playerName" serializeAs="String">
                <value>tankist</value>
            </setting>
            <setting name="sound" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="music" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="language" serializeAs="String">
                <value>ru</value>
            </setting>
            <setting name="languageNum" serializeAs="String">
                <value>1</value>
            </setting>
        </tanks.Properties.Settings>
    </userSettings>
</configuration>